<!-- Contact -->
<section id="contact">
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<img src="assets/images/cu-long.png" width="249" height="22" alt="">
			<ul class="copyright">
				<li>&copy; {{ site.title }} 2018</li>
				<li>Institute of Cognitive Science . 344 UCB . Boulder, CO 80309-0344</li>
				<li><a href="joining.html">JOINING THE LAB</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
